*target*
*.jar
*.war
*.ear
*.class
*.log
*.d64
*.iws

.idea/workspace.xml
.idea/tasks.xml

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
